apiVersion: v1
kind: Service
metadata:
  name: product-service-nodeport
  namespace: microservices-demo
spec:
  type: NodePort
  selector:
    app: product-service
  ports:
    - name: http
      port: 5001
      targetPort: 5001
      nodePort: 30001   # K8s will auto-assign if we omit this
      protocol: TCP
